body {
    background-color: whitesmoke;
}

header  {
    position: relative;
    width: 100%;
    color: white;
    background-color: lightgrey;
    text-align: center;
    font-family: verdana, helvetica, sans-serif;
    font-size: 2rem;
    line-height: 40px;
    text-transform: uppercase;
    border: 2px dashed maroon;
}

h1 {
    text-shadow: 4px 4px 5px gray;
}

nav {
    background-color: salmon;
}
nav ul li {
    font-family: sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    display: inline;
    background-color: salmon;
    color: maroon;
}

nav ul li a {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

a:visited {
    color: maroon;
    text-decoration: none;
}

a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

section {
    position: relative;
}

section a {
    float: left;
    position: relative;
    margin-right: 50px;
    height: auto;
    width: auto;
}

section p {
    position: relative;
    float: inline-start;
    font-family: sans-serif;
    font-size: 1rem;
    margin: 30px 20px 10px 5px
}

section p:first-of-type {
    position: relative;
    margin-top: 50px;
}

.description {
    float: inline-end;
    margin-top: 50px;
}

strong {
    text-transform: uppercase;
}

article {
    clear: both;
    position: relative;
}










footer img {
    height: 20px;
}

footer {
    width: 100%;
    height: 100%;
    clear: both;
    background-color: lightgray;
    vertical-align: bottom;
}

footer ul {
    clear: both;
    text-align: center;
    background-color: lightgrey;
    padding: 15px 0px 0px 15px;
    margin-top: 40px;
}

footer ul li{
    list-style-type: none;
    display: inline;
    padding: 50px;
    clear: both;
}
footer p {
    text-align: center;
    background-color: lightgrey;
}
div {
    width: 100%;
}
